<!DOCTYPE html>
<html>
  <head>
    <title>YepYelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Headland+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  </head>

  <body>
    <script type="text/javascript">
      window.fishUrl = "<%= image_url('fish.png') %>";
    </script>
    <script type="text/javascript">
      window.narutoRamenUrl = "<%= image_url('naruto-ramen.png') %>";
    </script>
    <script type="text/javascript">
      window.signupNarutoUrl = "<%= image_url('signup_login_pic.png') %>";
    </script>
    <script type="text/javascript">
      window.errorHeadbandUrl = "<%= image_url('error_headband.png') %>";
    </script>
    <script type="text/javascript">
      window.phoneUrl = "<%= image_url('phone-icon.png') %>";
    </script>
    <script type="text/javascript">
      window.redirectUrl = "<%= image_url('direction-icon.png') %>";
    </script>
    <script type="text/javascript">
      window.directionUrl = "<%= image_url('redirect-icon.png') %>";
    </script>
    <script type="text/javascript">
      window.uchihaUrl = "<%= image_url('uchiha_symbol.png') %>";
    </script>
    <!--  -->
    <%= yield %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
