<!DOCTYPE html>
<html>
  <head>
    <title>YepYelp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Headland+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <script type="text/javascript">
      window.fishUrl = "<%= image_url('fish.png') %>";
    </script>
    <script type="text/javascript">
      window.narutoRamenUrl = "<%= image_url('naruto-ramen.png') %>";
    </script>
    <script type="text/javascript">
      window.signupNarutoUrl = "<%= image_url('signup_login_pic.png') %>";
    </script>
    <script type="text/javascript">
      window.errorHeadbandUrl = "<%= image_url('error_headband.png') %>";
    </script>
    <!-- Restaurant 1 -->
    <script type="text/javascript">
      window.sushiUrl = "<%= image_url('sushi.jpg') %>";
    </script>
    <!-- Restaurant 2 -->
    <script type="text/javascript">
      window.boneMarrowRamenUrl = "<%= image_url('bone-marrow-ramen.jpg') %>";
    </script>
    <!-- Restaurant 3 -->
    <script type="text/javascript">
      window.curryUrl = "<%= image_url('curry.jpg') %>";
    </script>
    <!-- Restaurant 4 -->
    <script type="text/javascript">
      window.akiraUrl = "<%= image_url('akira.jpg') %>";
    </script>
    <!-- Restaurant 5 -->
    <script type="text/javascript">
      window.izakayaUrl = "<%= image_url('izakaya.jpg') %>";
    </script>
    <!-- Restaurant 6 -->
    <script type="text/javascript">
      window.uniUrl = "<%= image_url('uni.jpg') %>";
    </script>
    <!-- Restaurant 7 -->
    <script type="text/javascript">
      window.grilledFishUrl = "<%= image_url('grilled-fish.jpg') %>";
    </script>
    <!-- Restaurant 8 -->
    <script type="text/javascript">
      window.hotateUrl = "<%= image_url('hotate.jpg') %>";
    </script>
    <!-- Restaurant 9 -->
    <script type="text/javascript">
      window.okoUrl = "<%= image_url('oko.jpg') %>";
    </script>
    <!-- Restaurant 10 -->
    <script type="text/javascript">
      window.hamachiUrl = "<%= image_url('hamachi.jpg') %>";
    </script>
    <!--  -->
    <%= yield %>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>
